<!DOCTYPE html>
<html>
  {% include head.html %}

  <style>
    body {
      margin-left: 0;
      margin-right: auto;
      max-width: 800px;
      width: 84%;
      padding-left: 12.5%;
      padding-right: 8%;
      overflow-x: hidden;
      counter-reset: sidenote-counter;
    }
  </style>
 
 <style>
  .example {
    padding-top: 2px;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    border: 1px outset #fffff8;
    text-align: left;
  }
  </style>
  
  
  <body>
    {% include header.html %}
    <article>
      {{ content }}
    </article>
    {% include print-footer.html %}
    {% include footer.html %}
  </body>
</html>
