<!DOCTYPE html>
<html>
  {% include head.html %}

  <style>
    body {
      margin-right: auto;
      max-width: 800px;
      width: 84%;
      padding-left: 8%;
      padding-right: 8%;
      overflow-x: hidden;
      counter-reset: sidenote-counter;
    }
  </style>
 
 <style>
  .example {
    padding: 5px;
    border: 5px outset #fffff8;
    text-align: left;
  }
  </style>
  
  
  <body>
    {% include header.html %}
    <article>
      {{ content }}
    </article>
    {% include print-footer.html %}
    {% include footer.html %}
  </body>
</html>
