<!DOCTYPE html>
<html>
  {% include head.html %}

  <style>
    body {
      margin-right: auto;
      max-width: 800px;
      width: 84%;
      padding-left: 8%;
      padding-right: 8%;
      overflow-x: hidden;
      counter-reset: sidenote-counter;
    }
  </style>
 
 <style>
  blockquote.ex1 {
  float: left;
  padding: 1px;
  margin: 0 0 0 0;
  border-right: 5px solid #fffff8;
  border-left: 5px solid #fffff8;
  border-top: 5px solid #fffff8;
  border-bottom: 5px solid #fffff8;
 }
  </style>
  
  <body>
    {% include header.html %}
    <article>
      {{ content }}
    </article>
    {% include print-footer.html %}
    {% include footer.html %}
  </body>
</html>
